<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load staticfiles %}
        <title>Q&A Board</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
    </head>
    <body>
        <div class="plate">
            <h1>Q&A Board</h1>
        </div>
        <div class="logandquest">
            <div>
                <div class="logform">
                    {% if user.is_anonymous %}
                    <form method="POST" action="/login/">
                        <table>
                            <div class="form_rows">
                                {% csrf_token %}
                                {{ loginform.as_table }}
                            </div>
                        </table>
                        <div class="button">
                            <button type="submit">Log In</button>
                        </div>
                    </form>
                    {% else %}
                        You are logged as {{ user }} <br>
                        <form method="POST" action="/logout/">
                            <div class="button">
                                {% csrf_token %}
                                <button type="submit">Log out</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="links">
                    <p><a href="/signup/">Sign up</a>
                    <p><a href="/popular/">Popular questions</a>
                    <p><a href="/ask/">Ask a question</a>
                </div>
            </div>

        </div>
                <div class="questions">
                {% for question in questions%}
                    <a href="{{paginator.baseulr}}{{question.id}}/">{{question.title}}</a>
                {% endfor %}
            </div>
    </body>
</html>